<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet of Lana</title>
    <script src="PlanetOfLana_JScript.js"></script>
    <script src="PlanetOfLana_Practice.html"></script>
</head>
<body>
    <h1>The Witcher 3</h1>
    <h2>AN UNEXPECTED ADVENTURE</h2>
    <video id= "video1">
        <source src= "The Witcher 3 Wild Hunt - Official Gameplay Trailer.mp4" type ="video/mp4">
    </video>
    <div class = "base"><img src="TheWitcher.jpg" alt="Image Unavailable"></div>

</body>
</html>